/.bundle/
/.yardoc
/_yardoc/
/coverage/
/doc/
/pkg/
/spec/reports/
/tmp/

# rspec failure tracking
.rspec_status

Gemfile.lock
*.bundle
*.gem
tmp/
pkg/
ext/mlpack/mkmf.log
ext/mlpack/extconf.h
notebooks/.ipynb_checkpoints/
notebooks/Gemfile.lock
callgrind.out.*
*~

*.so
*.cmake
CMakeFiles/
CMakeCache.txt
Makefile
install_manifest.txt
